
a {
  color: #E80C7A;
  font-weight:300;
  target: _blank;
}

a:hover {
  color: #E83D30;
}

h1 {
  font-size: 7em;
  font-family: 'Catamaran', sans-serif;
  font-weight: 800;
}

h2 {
  font-size: 7em;
  font-family: 'Catamaran', sans-serif;
  font-weight: 800;
  margin-right: 2em;
  margin-top: 0px;
  padding-top: 0px;
}

header {
  margin-bottom: 3em;
}

img {
  float: left;
  height: 100%;
  width: auto;
  padding-right: 1em;
}

li {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 2em;
}
p {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 2em;
}

strong {
  color: #FF5628;
  font-weight:400;
}

.col-md-4 {
  padding-bottom: 2em;
}
.col-md-8 {
  padding-bottom: 2em;
}

.my-nav ul {
  float: left;
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  /*padding-bottom: 2em;*/
  overflow: hidden;
}

.my-nav ul li {
  float: left;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 2em;
  padding-right: 2em;
}

.my-nav ul li a {
  display: block;
  color: #FF2863;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.my-nav li a:hover {
  color: #E83D30;
}



}
/*.live .col-md-4 .my-h2:hover {
  color: #30AAE8;
}

.work .col-md-4 .my-h2:hover {
  color: #30AAE8;
}

.code .col-md-4 .my-h2 :hover {
  color: #30AAE8;
}
.connect .col-md-4 .my-h2 :hover {
  color: #2684B5;
}*/
